body{
    margin: 240px;
    padding: 0;
    background: url(https://media.gettyimages.com/photos/vacation-travel-happiness-picture-id638327430);   
    background-size:cover;
    background-position: center;
    font-family:sans-serif;
}
.loginbox{
    width:320px;
    height: 420px;
    background:  #ffffff;  
    color:#000;
    top: 50%;
    left:50%;
    position: absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width:100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px)
}
h1{
    margin:0;
    padding: 0 0 20px;
    text-align:center;
    font-size: 22px;
}
.loginbox p{
    margin:0;
    padding:0;
    font-weight; 
}

.loginbox p{
    margin:0;
    padding:0;
    font-weight: bold;
}
 .loginbox input[type="text"], input[type="password"]
 {
     border: none;
     border-bottom:1px solid #fff;
    background :transparent;
     outline:none;
     height:40px;
     color: #000;
     font-size:16px;

      }
      .loginbox input[type="submit"]
      {
          border:none;
          outline:none;
          height: 40px;
          width: 200px;
          background:#42a5f5;
          color:#fff;
          font-size:18px;
          border-radius:20px;
           }
        .loginbox input[type="submit"]:hover
        {
            cursor:pointer;
            background: #3f51b5;
            color:#000;
        }    
        .loginbox a{
            text-decoration:none;
            font-size:12px;
            line-height:20px;
            color:darkgrey;
        }
        .loginbox a:hover{
            color:#ffc107;
        }