body{
	font-family: Ariel;
	color:white;
}
ul{
	margins:30px;
	padding:30px;
	list-style: none;
}
ul li{
	float:left;
	width:200px;
	height: 40px;
	background-color:#bbdefb;
	opacity:.8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}
ul li a{
	text-decoration: none;
	color:white;
	display:block;
}
ul li a:hover{
	background-color:#1e88e5;
}
ul li ul li{
	display: none;
}
ul li:hover ul li{
	display: block;
}