<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj88RFZXk8q0ernCsRO4lKBcLTUMpxdv3PHy0nz7PDvQ_jwNIY">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
  	<link rel="stylesheet" href="{% static 'syrus/style.css' %}" type="text/css">
	<ul>
		<li><a href="http://127.0.0.1:8000/home/login/">Login</a></li>
		<li><a href="http://127.0.0.1:8000/home/register/">Register</a></li>
		<li><a href="http://127.0.0.1:8000/home/about/">About</a>
		<ul>
			<li><a href="http://127.0.0.1:8000/home/Missions/">Mission</a></li>
			<li><a href="http://127.0.0.1:8000/home/Working/">Working</a></li>
		</ul>
		</li>
		<li><a href="http://127.0.0.1:8000/home/help/">Help</a></li>
	</ul>
	<title>Home Luggage Tracker</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron">
 	<style>
 	body{
 		background-color:#bbdefb;
	}
	</style>
	<h1>Luggage Tracker</h1>
 </div>

<div class="container">
	<img src="https://cdn.pixabay.com/photo/2015/09/09/21/31/luggage-933487_1280.jpg">
</div>
</body>
</html>