<html>
    <head>
        <title>
            
        </title>
        <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj88RFZXk8q0ernCsRO4lKBcLTUMpxdv3PHy0nz7PDvQ_jwNIY">
        {% load static %}
    <link rel="stylesheet" href="{% static 'syrus/style_login.css' %}" type="text/css">
        <body>
                <div class="jumbotron">
                        <style>
                        body{
                            background-color:#42a5f5;
                       }
                       </style>
                       <h1>Login page</h1>
                    </div>
                   
            <div class = "loginbox">
                <img src = "https://www.atmegame.com/blog/images/users/avtar/avtar.png" class="avatar">
                <h1>Login Here</h1>
                <form>
                    <p>
                        Username
                    </p>
                    <input type="text" name="uname" placeholder="enter Username">
                    <p>Password</p>
                    <input type="password" name="pwd" placeholder="Enter Password">
                    <div><input type="submit" name="" value="login"></form></div>

                    <div>
                    <a href="#">Lost your password?</a><br>
                    <a href="http://127.0.0.1:8000/home/register/">Don't have an account?  </a>
                    </div>
                    </form>
                </form>
            </div>
              
        </body>
    </head>
</html>

