<html>
    <head>
        <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj88RFZXk8q0ernCsRO4lKBcLTUMpxdv3PHy0nz7PDvQ_jwNIY">
        {% load static %}
    <link rel="stylesheet" href="{% static 'syrus/signup.css' %}" type="text/css">
        <title>
            Sign Up
        </title>
        <body>
               
                   
            <div class = "loginbox">
                <h1>Sign Up Here</h1>
                 
                <form id="lala" action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p}}       
                    <p>Email Id</p>
                    <input type="text" id="check" name="email" placeholder="Enter email id">
                    <p>Username</p>
                    <input type="text" name="uname" placeholder="Enter Username">
                    <p>Password</p>
                    <input type="password" id="current" name="pwd1" placeholder="Enter Password">
                    <p>Retype Password</p>
                    <input type="password" name="pwd2" id="retype" placeholder="Enter Password">
                    <div><input type="submit" name="" value="Sign Up"></form></div>
                  </form>
                </form>
            </div>
            {% load staticfiles %}
                <script src="{% static 'syrus/check.js' %}"></script>
        </body>
    </head>
</html>